<section class="login-body">
	<div class="container">
		<div class="header login-header clearfix">
			<div class="row">
				<div class="col-md-11 text-center">
					<h1>Abemar</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<form name="loginForm" class="form-signin" ng-submit="authenticate()">
					<div class="form-group" ng-class="{'has-error': loginForm.username.$invalid && loginForm.username.$dirty}">
						<label for="username" class="sr-only">Usuario:</label>
						<input name="username" ng-model="credentials.username" type="text" class="form-control" placeholder="Usuario" required autofocus>
					</div>

					<div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
						<label for="password" class="sr-only">Clave:</label>
						<input name="password" ng-model="credentials.password" type="password" class="form-control" placeholder="Clave" required>
					</div>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
				</form>
			</div>
		</div>

	</div>
</section>
