<h1 class="page-header">
	<i class="fa fa-users fa-lg"></i> Ping
</h1>
<div class="row">
	<div class="col-sm-12">
		<input type="text" ng-model="ip" />
		<a ng-click="Reconnect()" class="btn btn-default" ng-hide="connected">
			Connect To Server
		</a>
		<a ng-click="StartPing()" class="btn btn-default" ng-show="connected">
			Start
		</a>
		<a ng-click="StopPing()" class="btn btn-default" ng-show="connected">
			Stop
		</a>
		<a ng-click="ClearLog()" class="btn btn-default">
			Clear
		</a>
	</div>
</div>
<div class="row log-container">
	<div class="log col-sm-12">
	</div>
</div>
